<div class="tab" id="tags">
{% assign ordered_tags = site.tags | sort %}

{% for tag in ordered_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

  <h6 class="small uppercase"><a href="{{ site.baseurl }}/{{ t.url }}">{{ t | camelize | replace: "-", " " }} ( {{ posts | size }} )</a></h6>
  <ol class="tag-pingbacks">
    {% for p in posts %}
        <li>
          <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>, <small>{{ p.date | date: "%d.%m.%Y" }}</small>
        </li>
    {% endfor %}
  </ol>

{% endfor %}
<!--
<ul class="tags">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
{% endfor %}
</ul>
-->
{% include archive-link.html %}
</div>