@mixin clft-anim-hover() {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

@mixin clft-anim-regular($top, $delay: 0) {
  opacity: 0;
  transform: translate3d(0, $top, 0);
  visibility: hidden;
  transition: transform 200ms $easeInOutSine, opacity 400ms $easeInOutSine, visibility 400ms linear;
  transition-delay: $delay;
  &.re.active {
    opacity: 0;
    transform: translate3d(0, -$top, 0);
    visibility: hidden;
  }
}