.tag-pingbacks 
{
	padding: 4em 8em;
	li {
		padding: 1.25em 0; 
   		&:not(:last-of-type) {
   			border-bottom: 1px solid #f7f8f9; 
		}
  	   a {
		    font-weight: 600;
		    font-family: $font-header;
		    border-bottom: 1px solid $color-grey;
		}
		.small {
			color: $color-grey--light;
		}

	}
}

#tags {
	h6 {
		font-family: $font-post;
	}
}