#tags {
	.tags {
		padding: 4em 8em;
		li { }
		&--titles {
			li { font-family: $font-post; }
		}
		&--posts {
			li {
					 
			   		&:not(:last-of-type) {
			   			border-bottom: 1px solid #f7f8f9; 
					}
			  	   a {
					    font-weight: 600;
					    font-family: $font-header;
					    border-bottom: 1px solid $color-grey;
					}
					.small {
						color: $color-grey--light;
					}
				}
		}
	}
}

