.bg { background-color: $color-alpha--light; }
/**
*Tags*
**/
.tag-list 
    li {
      font-family: $font-post;
      display: inline-block;
      padding: 1em 1em 1em 0;
      li+li {
        padding-left: 1em;
      }
      a { color: $color-black; }
      a:hover {
         color: $color-alpha;
      }
}

.tags {
	padding: 2em 1em;
	@media (min-width: $mq-md) {
      padding: 4em 8em;
    }

    @media (min-width: $mq-xxl) {
      	padding-left: 10em;
      	padding-right: 10em;
    }
		li {border-bottom: 1px solid #f7f8f9;  }
		&--titles {
			h6 { font-family: $font-post; @include underlined_simple ($color-alpha, 2px);
				position:relative;
				display:inline-block;
				a {  }
			}
		}
		&--posts {
			li {
		  		&:not(:last-of-type) {
			   			
				}
				&:hover {
					a { @include transition(all, 0.6s ease-in-out); }
					a::after {
 							background-color: $color-alpha;
					}
				}
			  	a {  
			  	   		@include underlined_simple (transparent, 2px);
					    font-weight: 600;
					    font-family: $font-header;
				}
				small {
						margin-right: 2em;
						color: $color-grey--light;
					}
				}
		}
	}

.post-share {
	a {
		font-size: rem(17.5px);
		&:not(:last-child):not(:first-child):after {
			content: " — ";
			margin-right: 5px;
		}
		&.fb span {
			color: #3b5998;
		}
		&.tw span {
			color: #55acee;
		}
		&.pin span {
			
	}
	small {
		margin-right: 5px;
		font-size: 70%;
		opacity: .2;
	}
}
